<!DOCTYPE html>
<html lang="en">
   <head>
      <title></title>
      <meta charset="UTF-8">

      {% load static %}
        <!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="{% static 'logreg/css/logreg.css' %}" media="screen" title="no title"  charset="utf-8">
            
        <title>Successful Login</title>

   </head>
   <body>
     <h1>Success! Welcome, {{user.fname}}</h1>
     <h3> Successfully registered (or logged in)!</h3>
     
    
  </body>
</html>