<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <!--
          <name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="IE=Edge">  
          <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
          linking an image
          <img src="{{ url_for('static', filename='img/my_img.png') }}">
          linking an image
          <img src="{{ url_for('static', filename='img/my_img.png') }}copy">
          linking a javascript file 
          script type="text/javascript" src="{{ url_for('static', filename='js/landing_page.js') }}"></script
         
        -->
          <!-- linking a css style sheet -->
          <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/TrialsofKenny.css') }}"-->
          
          
        
        <title>Trials of Kenny</title>
        
     </head>
        <form action='/process' method='post'>
            <h1>Go to School:</h1><br>
            <input type='submit' name='submit' value='Yes'>
            <input type='submit' name='submit' value='No'>
        </form>
    </body>
</html>